---
title: Freeman Industries
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		<div class="container">
			<a href="/"><img class="logo" src="/img/freeman.svg"></a>

			<h1>
				Freeman Industries
			</h1>

			<p>
				Think of us as your Virtual CTO.
			</p>
		</div>

		<div class="container">
			<h1>
				Virtual CTO
			</h1>

			<p>
				We work directly with startups who have found PMF to accelerate your businesses.
			</p>

			<p>
				Our work and advice is high quality and we are up-front about our value.<br />
				Consultations are always free and confidential.
			</p>
			
			<p>
				Day rate: <strong>£600 / day</strong>
			</p>

			<p>
				Enquires: <span class="freeman-email"></span>
			</p>

			<p>
				Our team is based in London & Shanghai and works remotely.
			</p>
		</div>

		<div class="container">
			<h1>
				Partners
			</h1>

			<p>
				We came up in the UK startup scene & like helping other founders succeed.<br />
				Very proud that we've played a small part in our friends' successes:
			</p>

			{% include year_marker.html
				year="2017"
			%}

			<div class="businesses">
				{% include contract_business.html 
					title="LeSalon"
					slug="lesalon"
					emoji="💆🏻‍♀️"
					url="https://lesalon.com"
					description="Started consulting, couldn't keep away and Nabil became co-founder & CTO. Now a 7 figure business."
				%}
			</div>

			{% include year_marker.html
				year="2016"
			%}
			
			<div class="businesses">
				{% include contract_business.html 
					title="Receptive"
					slug="receptive"
					emoji="💁🏼‍♂️"
					url="https://www.pendo.io/pendo-blog/pendo-acquires-product-feedback-innovator-receptive/"
					description="Designed & built UI for first version of the dashboard. Acquired by Pendo.io in 2019."
				%}
				
				{% include contract_business.html 
					title="Papertrail"
					slug="papertrail"
					emoji="🧗🏾‍♀️"
					url="https://papertrail.io"
					description="Implemented designs on their web & mobile apps early on. Now a 7 figure business."
				%}
			</div>

			{% include year_marker.html
				year="2015"
			%}

			<div class="businesses">
				{% include contract_business.html 
					title="Moltin"
					slug="moltin"
					emoji="🛍️"
					url="https://moltin.com"
					description="Built some product widget experiments in the early days. Bought by Elastic Path in 2020."
				%}
				
				{% include contract_business.html 
					title="Matchchat"
					slug="matchchat"
					emoji="⚽"
					url="https://matchchat.co.uk"
					description="Nabil founded Matchchat and was CPO & front-end developer. Bought by Snack Media in 2015."
				%}
			</div>
		</div>
		
		<div class="container">
			<h1>
				Podcast
			</h1>

			<div class="adventures">
				<div class="businesses">
					{% include contract_business.html 
						title="Embrace The Adventure"
						slug="embrace-the-adventure"
						url="https://embracetheadventure.tv"
						description="A podcast with people who took the path less travelled and succeeded."
						emoji="🏝"
					%}
				</div>
			</div>
		</div>

		{% include floating_head.html %}

		{% include footer.html %}

	</body>
</html>
