---
title: Freeman Industries
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		<div class="container">
			<a href="/"><img class="logo" src="/img/freeman.svg"></a>

			<h1>
				Freeman Industries
			</h1>

			<p>
				My name's Nabil Freeman, a European entrepreneur and JavaScript developer.<br />I build world-class software for companies who have found product market fit.
			</p>
		</div>
		
		<div class="container">
			<h1>
				Hiatus
			</h1>
			
			<p>
				I'm a dad (beautiful 2-year-old), and a founder again (CTO of <a href="https://lesalon.com">LeSalon Beauty</a>).<br />Time for a break from contracting.
			</p>
		</div>

		<div>
			<h1>
				Links
			</h1>
			<div class="thumbs">
				<div class="thumbnail">
					<a href="/contracts">
						<div class="title">
							Contracts
						</div>
						<div class="meta">
							Everything you need to know to work with me.
						</div>
					</a>
				</div>

				<div class="thumbnail">
					<a href="/talks">
						<div class="title">
							My Talks
						</div>
						<div class="meta">
							You can find resources related to my talks here.
						</div>
					</a>
				</div>

				<div class="thumbnail">
					<a href="https://angel.co/nabil">
						<div class="title">
							Resumé
						</div>
						<div class="meta">
							My career and education (external link to AngelList)
						</div>
					</a>
				</div>
			</div>
		</div>

		<div class="container">
			<h1>
				Contact
			</h1>
			<p>
				Contact me any time at <span class="freeman-email"></span>. No salespeople, no recruiters. You can find me in London, Shanghai, or somewhere in between.
			</p>
		</div>

		<img class="floating-head" src="/img/just-like-joel.png">

		<script>
			if(document.body.clientWidth > 716){
				var thumbnails = document.querySelectorAll(".thumbnail");

				thumbnails.forEach(function(thumbnail){
					thumbnail.querySelector("video").play();
				})
			}
		</script>

		{% include footer.html %}

	</body>
</html>
