---
title: Freeman Industries
---
<!DOCTYPE html>
<html>
	<head>
		{% include meta.html %}
	</head>

	<body>

		<div class="container">
			<a href="/"><img class="logo" src="/img/freeman.svg"></a>

			<h1>
				Contracts
			</h1>

			<p>
				We build and iterate software for early stage technology companies.<br>What we are about: UX-first design, quality code and NO BS.
			</p>
			
			<p>
				Enquires: <span class="freeman-email"></span>
			</p>
			
			<h1>
				Rates and Charges
			</h1>
			
			<p>
				Planning & Consultation: <strong>Free</strong>
			</p>
			
			<p>
				Design & Development: <strong>£600 / day</strong>
			</p>
			
			<h1>
				Partners
			</h1>

			<p>
				I came up in the UK startup scene. Everybody I've worked for I know really well and I'm proud that I've played a small part in my friends' successes:
			</p>

			{% include year_marker.html
				year="2017"
			%}

			<div class="businesses">
				{% include contract_business.html 
					title="LeSalon"
					slug="lesalon"
					url="https://lesalon.com"
					description="Started as a contractor and then joined JM and Natasha as their co-founder. It's now a 7 figure business and we're just getting started."
				%}
			</div>

			{% include year_marker.html
				year="2016"
			%}
			
			<div class="businesses">
				{% include contract_business.html 
					title="Receptive"
					slug="receptive"
					url=""
					description="Designed & built UI for 1st & 2nd versions of dashboard. Acquired by Pendo.io in 2019."
				%}
				
				{% include contract_business.html 
					title="Papertrail"
					slug="papertrail"
					url="https://papertrail.io"
					description="Implemented designs on web, iOS and Android apps in the early days. Now a 7 figure business."
				%}
			</div>

			{% include year_marker.html
				year="2015"
			%}

			<div class="businesses">
				{% include contract_business.html 
					title="Moltin"
					slug="moltin"
					url="https://moltin.com"
					description="Built some product widget experiments in the early days. Now an 8 figure business."
				%}
				
				{% include contract_business.html 
					title="Matchchat"
					slug="matchchat"
					url="https://matchchat.co.uk"
					description="I started Matchchat and after it was bought I decided to take a break from being a founder."
				%}
			</div>
		</div>

		{% include footer.html %}

	</body>
</html>
